#navbar-links h5{
    color: white;
}

#navbar-links ul ul li{
    color: white;
}

#botao-sobre{
    color: white;
    font-size: 21px;
}

#botao-peca{
    color: white;
    font-size: 21px;
}

#produtos-menu{
    color: white;
    font-size: 21px;
}